<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
         http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<bean id="documentService" class="com.tonitassani.cxf.document.service.DocumentServiceImpl" />

	<jaxrs:server id="documentRESTService" address="/version" >
		<jaxrs:serviceBeans>
			<ref bean="documentService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>
	
</beans>
